@import url("../../../styles/index.scss");

.welcome-text {
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 1;
  font-family: Calibre_d, sans-serif;
  font-size: calc(var(--index) * 2.5);
  font-weight: 700;
  line-height: 1;
  right: 0;
  text-align: center;

  span {
    display: inline-block;
    opacity: 0;
    margin-right: 0.3em;

    //animation
    transform: scale(2, 2);
    transition: opacity .5s ease-out, transform .5s ease-out;

  }

  &_show{
    span{
      opacity: 1;

      //animation
      transform: scale(1,1);
    }
  }
}