@font-face {
  font-family: Oswald_d;
  src: url(./Oswald/Oswald-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Oswald_d;
  src: url(./Oswald/Oswald-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Noto_d;
  src: url(./Noto_sans/NotoSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Noto_d;
  src: url(./Noto_sans/NotoSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Noto_d;
  src: url(./Noto_sans/NotoSans-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Calibre_d;
  src: url(./Calibre/Calibre-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: raleway_c;
  src: url(./Releway/raleway-v22-cyrillic-300.woff2);
  font-weight: 300;
}

@font-face {
  font-family: raleway_c;
  src: url(./Releway/raleway-v22-cyrillic-100.woff2);
  font-weight: 100;
}