.about {
  will-change: transform;
  scroll-behavior: smooth;



  .main-header {
    position: relative;
  }

  .main-header::after {
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url(../../assets/images/About/ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -4.5);
  }

  .main-header::before {
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url(../../assets/images/About/ground.png);
    background-size: cover;
    background-repeat: round;
    background-position: center;
    bottom: calc(var(--index) * -4.5);
  }

  .layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: 2;

    /* в layer свойство transform изменяется динамически */
    /* просим браузер уделить больше аппаратного внимания для свойства transform*/
    will-change: transform;
    transition: var(--transition);
  }

  .layers__base {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
    transition: 0s;

       &_start{
         //animation start
         transform: translate(0, 100vh);
         transition: transform 1s 2.5s ease-in-out;
       }
    
        &_show {
          opacity: 1;
          transform: translate(0, 0);
        }
    
        //animation end
  }

  .layers__top {
    transform: translate3d(0, calc(var(--scrollTop) * .7), 0);
    background-position-y: calc(var(--index) * 5);
    z-index: 1;

    &_start{
      //animation start
      transform: translate(0, -100vh);
      transition: transform 1s 3s ease-in-out;
    }
 
     &_show {
       opacity: 1;
       transform: translate(0, 0);
     }
 
     //animation end
  }

  .layers__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);

    &_start{
      //animation start
    transform: translate(0, 100vh);
    transition: transform 1s 1.5s ease-in-out;
    }

    &_show {
      opacity: 1;
      transform: translate(0, 0);
    }

    //animation end
  }

  .layers__front {
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);

    &_start{
          //animation start
    transform: translate(-100vw, 0);
    opacity: 0;
    // Анимируем opacity 5 секунд с задержкой перед началом анимации 1 секунду
    transition: opacity 3s .3s, transform 1.5s .3s ease-in-out;
    }

    &_show {
      opacity: 1;
      transform: translate(0, 0);
    }

    //animation end
  }

  .layer__header {
    z-index: 2;
    margin-bottom: calc(var(--index) * 3);
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 0 0 15px #9d822b;
    transition: var(--transition);

    span {
      text-transform: none;
    }
  }

  .layers__title {
    font-size: calc(var(--index) * 2.5);
    letter-spacing: calc(var(--index) / 2.25);
  }

  .layers__caption {
    font-size: calc(var(--index) / 1.175);
    letter-spacing: calc(var(--index) / 3.5);
    margin-top: calc(var(--index) * -0.75);
  }

  .main-article {
    /* при указании отрицательного значения проиходит поднятие вверх */
    --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    transition: var(--transition);
    color: #f5f4ff;
  }

  .main-article__content {
    margin-top: calc(var(--index) * 8);
  }

  .main-article__header {
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.8);
    letter-spacing: calc(var(--index) / 7.5);
    transform: var(--main-article-transform);
    will-change: transform;
    transition: var(--transition);
    text-align: center;
  }

  .main-article__paragraph {
    max-width: calc(var(--index) * 40);
    margin-top: calc(var(--index) / 1.25);

    transform: var(--main-article-transform);
    will-change: transform;
    transition: var(--transition);

    span {

      font-weight: 900;
    }
  }

  .copy {
    position: absolute;
    bottom: calc(var(--index) * 2.5);
    opacity: .7;
    font-size: calc(var(--index) * .75);
    letter-spacing: calc(var(--index) / 37.5);
  }
}